{% extends 'common/base.html'%}
{%load static%}


{% block head %}
<link rel="stylesheet" href="{% static 'css/school.css' %}">
{%endblock%}

{% block main_content %}

<section id="list">
    {% if not no_results %}
    <h2><i>Results found</i></h2>
    {% endif %}
    <div>
       {% for i, s in schools %}
        <div class="sch">
            <div style="display: flex;">
                <div class="div-icon">
                    <img class="sch-icon" src="{% static 'img/school-icon.svg'%}" alt="school">
                </div>
            </div>

            <div class="sch-content">
                <h4>{{s.name}} - {{s.type}}</h4>
                <br>
                <p>City : {{s.city}}, {{s.region}}</p>
                <p>Tel : {{s.tel}}</p>
                <p>Category : {{s.category}}</p>
                <p>SIRET : {{s.siret}}</p>
            </div>
        </div>
        {% endfor %}
        {% if no_results %}
        <div class="alert alert-warning" role="alert">
            No results found !
          </div>
        {% endif %}
        
    </div>
</section>
{%endblock%}