
html{
    scroll-behavior: smooth;
}

section:not(section#ban){
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section#card-feature{
    margin: 30px auto 170px auto;
}

section#card-feature .card{
    margin-top: 30px;
}

section#card-feature a{
    color: black;
}

section#card-feature .card:hover{
    box-shadow: 2px 2px 2px grey;
    transform: scale(1.03);
}


section#card-feature .card:hover a{
    text-decoration: none;
}

section#card-feature .card:hover a h5{
    text-decoration: underline;
}

section h3{
    margin-left: 30px; 
    margin-bottom: 30px;
}


section#ban .div-ban{
    min-height: 200px;
    position: relative;
}


section#ban .ban-title{
    font: 3.5em bold Verdana;
    position: absolute;
    top: 50px;
    right: 140px;
}

section#ban .ban-title mark{
    background-color: black;
    color: aliceblue;
}

section#ban .img-ban{
    width: 100%;
}

section#ban .ban-div-btn{
    color: aliceblue;
    position: absolute;
    margin: auto;
    top: 80%;
    left: 32%;
    width: 40%;
    z-index: 1;
}

section#ban a.btn{
    font-weight: bold;
    border-width: 3px;
}

section#ban svg.waves{
    position: absolute;
    bottom: 0;
    left: 0;
}

section#compo{
    margin-bottom: 200px;
}

.search-icon{
    width: 20px;
    height: 20px;
}

#search{
    margin-bottom: 200px;
}

#search .more-opt{
    text-align: center;
}


#search .more-opt svg.bi-chevron-expand{
    position: relative;
    bottom: 1px;
}

#search .more-opt:hover{cursor: pointer;}


#search .more-opt:hover p{
    color: rgb(0, 162, 255);
    text-decoration: underline;
}

#search .more-opt:hover svg.bi-chevron-expand{
    fill: rgb(0, 162, 255);
    transform: scale(1.2);
}

#search .hidden-search{
    display: none;
}

div.map{
    height: 500px;
    margin-bottom: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div.map > div{
    height: 100%;
}

