section#list {
    width: 80%;
    margin: 80px auto;
}

.pers-list {
    margin: 70px auto;
}

.pers-df {
    width: 100%;
    border-collapse: collapse;
    font-size: 11pt;
    font-family: Arial;
    border: 1px solid silver;
}
.pers-df th{
    padding: 5px;
    text-align: center;
}

.pers-df td {
    padding: 5px;
}

.pers-df tr:nth-child(even) {
    background: #c0c9f594;
}

.pers-df tr:hover {
    background: silver;
    cursor: pointer;
}